<h1>New</h1>
<%= form_for(@kost) do |f| %>
	<div>
		<%= f.label :'Nama Kos: ' %>
		<%= f.text_field :nama_kos %>
	</div>
	<div>
		<%= f.label :'Harga Kos: ' %>
		<%= f.text_field :harga_kos %>
	</div>
	<div>
		<%= f.label :'Fasilitas: ' %>
		<%= f.text_area :fasilitas %>
	</div>
	<div>
		<%= f.label :'Alamat: ' %>
		<%= f.text_area :alamat %>
	</div>
	<div>
		<%= f.label :'Keterangan Lain' %>
		<%= f.text_area :keterangan_lain %>
	</div>

	<%= f.submit %>
<% end %>