<p class="navbar-text pull-right">
<% if pengguna_signed_in? %>
  Logged in as <strong><%= current_pengguna.email %></strong>.
  <%= link_to 'Edit profile', edit_pengguna_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_pengguna_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_pengguna_registration_pat, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_pengguna_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<h1>Daftar Kosan:</h1>
<% @kosts.each do |b| %>
	<div>
		<div><%= b.id %></div>
		<div><%= b.nama_kos %></div>
		<div><%= b.harga_kos %></div>
		<div><%= b.fasilitas %></div>
		<div><%= b.alamat %></div>
		<div><%= b.keterangan_lain %></div>
		<div><%= link_to 'show', {controller: 'kosts', action:'show', id: b.id} %></div>
		<div><%= link_to 'edit', {controller: 'kosts', action:'edit', id: b.id} %></div>
		<div><%= link_to 'delete', {controller: 'kosts', action:'destroy', id: b.id}, method: :delete %></div>
		<br>
	</div>
<% end %>